In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
database is a stored collection of data that is created and maintain by database management system

In [ ]:
Differentiate between SQL and NoSQL databases.
* sql defined as structured query language that is mainly used for the relational databases
  nosql defined as not only sql that is mainly used for non relational databases
* sql are vertically scalable increase load on ram,cpu,etc in larger data
  nosql are horizantally scalable that decrease load on ram,cpu in larger data
* sql stores the data in table-based such as row-column format
  nosql stores the data in key-value,grap,document-based,wide-column format
* sql supports for the acid properties
  nosql supports for the cap theorem
* sql supports for the static schema
  sql supports for the dynamic schema

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

In [ ]:
data define language is one type language in structured query language in which it 
creates and modifies the objects in databases

In [ ]:
CREATE-it mainly used to create a new table to database
example:
    CREATE TABLE TEST1(ID INT PRIMARY KEY,NAME VARCHAR(20),AGE INT);

In [ ]:
ALTER-it mainly used to alter objects in existing table of database
example:
    ALTER TABLE TEST1
    ADD EMAIL VARCHAR(20);

In [ ]:
DROP-it is mainly used drop or delete the existing table
example:
    DROP TABLE TEST1;

In [ ]:
TRUNCATE-it is mainly used to delete data in tables not databases
example:
    TRUNCATE TABLE TEST1

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
data manipulation language defined as component of sql statement that is used
to access control on database and tables

In [ ]:
INSERT-it is mainly used to insert a data into table
example:
    INSERT INTO TEST1 VALUES(100,'KRISH',35,'K@GMAIL.COM')

In [ ]:
UPDATE-it is mainly used to update the data of existing object in database
example:
    UPDATE TEST1
    SET EMAIL='KRISH@GMAIL.COM',AGE=40
    WHERE ID=100

In [ ]:
DELETE-it is mainly used to delete a existing objects in database
example:
    DELETE FROM TEST1 WHERE ID=100;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
data querry language defined as the sql component in which mainly used for
querrifing the sql statements

In [ ]:
SELECT-it is mainly used for the select the set data for diffferent query
and return a result-set in a update table
examples:
    To retrive all data in table we use below querry
    select * from test1;
    To retrive specific data in table we use below querry
    select name,email from test1
    select name,age from test1
    where id=100

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
primary key defined as unique column and which value is not null and which does
not contain duplicate values mainly used for different querrey through this in 
above code id is primary key

forign key is mainly used to define relationship between the two table with creation
of reference columns between two table,it may be contains nullable values and parent
coulumns are not able to delete without deleting child columns,because both are refferenced.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE if not exists test3')
mycursor.execute('CREATE TABLE if not exists test3.test_table3(c1 INT,c2 FLOAT,c3 VARCHAR(20),C4 BOOLEAN);')
mydb.close()

In [ ]:
In the above example we use cursor used as the pointer that points to communication between mysql database
By using execute we can pass the query as parameter and execute the selected query

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.