In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [17]:
import pandas as pd
s=pd.Series([ 4, 8, 15, 16, 23,42])

In [18]:
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [19]:
l=[10,20,30,40,50,60,70,80,90,100]
s1=pd.Series(l)
print(s1)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [20]:
data=[['Alice',25,'Female'],['Bob',30,'male'],['clair',27,'female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    male
2  clair   27  female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
pandas series is a one dimensional data structure,series of elements
A Pandas DataFrame is a two dimensional data structure like,rows and clumns
pandas series are immutable once they are created we are not able to change
pandas dataframe are mutable once they are crea we are not able to change
Homogenous – Series elements must be of the same data type.
Heterogenous – DataFrame elements can have different data types.

In [ ]:
#series example

In [28]:
n=pd.Series([0,1,2])
numbers=pd.Series(['zero','one','two'])
print(n)

0    0
1    1
2    2
dtype: int64

In [29]:
print(numbers)

0    zero
1     one
2     two
dtype: object

In [30]:
#dataframe exaple merging of two  series
d={'value':n,'numbers':numbers}
df=pd.DataFrame(d)
print(df)

   value numbers
0      0    zero
1      1     one
2      2     two

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
DataFrame is mutable in nature

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [23]:
import pandas as pd
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
auth_series = pd.Series(author)
article_series = pd.Series(article)
frame = { 'Author': auth_series, 'Article': article_series }
result = pd.DataFrame(frame)
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178