In [ ]:
Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd
df=pd.DataFrame({'students':['a','b','c','d','e'],'study_exam':[3,2,1,3,4],'study_final_exam':[6,4,3,6,8]})

In [7]:
df.corr(method='pearson')

/tmp/ipykernel_986/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                  study_exam  study_final_exam
study_exam          1.000000          0.989827
study_final_exam    0.989827          1.000000

In [ ]:
Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [3]:
df=pd.DataFrame({'sleep_individual':[5,6,7,8,8,9,],'job_satisfication':[4,7,7,9,10,10]})

In [5]:
df.corr(method='spearman')

                   sleep_individual  job_satisfication
sleep_individual           1.000000           0.940403
job_satisfication          0.940403           1.000000

In [ ]:
Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [2]:
df=pd.DataFrame({'no_hours':[1,2,3,2,1,2],'Bmi':[24,20,19,18,23,22]})

In [3]:
df.corr(method='pearson')

          no_hours       Bmi
no_hours  1.000000 -0.785905
Bmi      -0.785905  1.000000

In [4]:
df.corr(method='spearman')

          no_hours       Bmi
no_hours  1.000000 -0.802377
Bmi      -0.802377  1.000000

In [ ]:
Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [19]:
df=pd.DataFrame({'no_hours':[7,6,5,4,3,6,8,3,2,1,7,8,9,2,3,4,5,8,1,2,3,5,7,2,1,7,6,5,4,3,6,8,3,2,1,7,8,9,2,3,4,5,8,1,2,3,5,7,2,1],'physical_activity':[1,2,2,2,3,2,2,5,6,4,2,1,2,3,3,2,4,3,2,1,5,5,2,6,5,1,2,2,2,3,2,2,5,6,4,2,1,2,3,3,2,4,3,2,1,5,5,2,6,5]})

In [21]:
df.corr(method='pearson')

                   no_hours  physical_activity
no_hours           1.000000          -0.521456
physical_activity -0.521456           1.000000

In [ ]:
Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

Age(Years)      Soft drink Preference
25                            Coke
42                            Pepsi
37                            Mountain dew
19                              Coke
31                             Pepsi
28                             Coke

In [24]:
df=pd.DataFrame({'age':[25,42,37,19,31,28],'soft_drink':['coke','pepsi',' Mountain dew','coke','pepsi','coke']})

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
encoder=LabelEncoder()

In [27]:
df['soft_encoded']=encoder.fit_transform(df[['soft_drink']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
df.corr()

/tmp/ipykernel_199/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                   age  soft_encoded
age           1.000000      0.181686
soft_encoded  0.181686      1.000000

In [ ]:
Q6. A company is interested in Aexamining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [29]:
df=pd.DataFrame({'sales_call':[55,65,45,35,56,43,75,50,56,60,55,65,45,35,56,43,75,50,56,60,55,65,45,35,56,43,75,50,56,60],'sales_made':[10,15,12,7,20,18,35,20,22,25,10,15,12,7,20,18,35,20,22,25,10,15,12,7,20,18,35,20,22,25]})

In [30]:
df.corr('pearson')

            sales_call  sales_made
sales_call    1.000000    0.746904
sales_made    0.746904    1.000000