##ASSIGNMENT

In [ ]:
Q1. What are the characteristics of tuples?is tuple immutable

. Tuple is orderd
. Tuple is immutable
. Tuple allows the duplicates
. It is also possible to use the tuple() constructor to make a tuple.
. Tuple allows many data types such as string,integer,and boolean.
. it allows to typecast to list,set and used as key in dictionary

>> yes,tuple is immutable

In [ ]:
Q2. What are the two tuple methods in python?Give an example of each method.give a reason why tuples have only two in-built methods as compared to list?

>> index and count are two tuple methods in python
*Foollowing below two examples of index and count

In [1]:
t=[1,'hello',1,True,2,'hi','hello']

In [4]:
t.index(1)

0

In [ ]:
Above example shows the index of tuple that occurs the first occurence of 1 element at 0 index

In [5]:
t=[1,'hello',1,True,2,'hi','hello']

In [6]:
t.count(1)

3

In [ ]:
Above example shows the count of tuple method,in example count of 1 returns 3 because internally True returned as 1 so count of 1 becomes 3.

In [ ]:
> Because tuple is immutable and list is mutable,because of that list as many operations like for insertion of element we have
    insert,append and for removal we have remove,pop and for update we have update,due to tuple immutablity there are two operations
    index and count.

In [ ]:
Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

>>  set is a collection in  python do not allow duplicate items
Below is solution remove duplicates from given list

In [2]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s=set(List)
s

{1, 2, 3, 4}

In [ ]:
Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

suppose we have two sets s1 and s2,union perform the operation of merge overall elements of s1 and s2 into one set.
But in update if we have two sets s1 and s2,s1 update s2 it will add elements of s2 into s1,s1 contains s2 elements and vice versa.

below examples shows how union and update works:

In [3]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
* By above example shows union will merge overall values into one set

In [9]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
s2

{6, 7, 8, 9, 10}

In [ ]:
* By example we shown s1 update the elements with s2,but s2 has same elements.

In [ ]:
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

>>Dictionary defined as one type of data structure to store elements in ordered with key and value pair
Below is example of dictionary

In [11]:
d={}
d['key1']='value1'
d[(1,2)]=3
d[3.2]=['hello python']
d

{'key1': 'value1', (1, 2): 3, 3.2: ['hello python']}

In [ ]:
>> Yes dictionary is ordered

In [ ]:
q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
    nested dictionary.
    
    Yes we can create nested dictionary.
    Below is the example of nested dictionary

In [12]:
d1={}
d1['key1']='value1'
d1['key2']={'python':'machine learning'}
d1

{'key1': 'value1', 'key2': {'python': 'machine learning'}}

In [ ]:
Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [20]:
d2={'k1':'v1'}
d2.setdefault('topics',['Python', 'Machine Learning','Deep Learning'])
d2

{'k1': 'v1', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [ ]:
Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
The three view objects in dictionaries are keys,values and items
Below python in-built  methods in python to display these three view objects for the given dictionary.

In [21]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [22]:
dict1.keys(),for displaying keys

dict_keys(['Sport', 'Teams'])

In [23]:
dict1.values(),for displaying values

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [24]:
dict1.items() for display overall dictionaty keys and values

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])